version: '3'
services:
  api:
    build:
      context: .
      dockerfile: ./Dockerfile 
    environment:
      AWS_DEFAULT_REGION: us-east-1
      AWS_ACCESS_KEY_ID: **
      AWS_SECRET_ACCESS_KEY: **
      
    ports:
      - "5000"
      - "5000:5000"
